.titleAbout {
    padding: 0rem 0rem 0rem 1.5rem;
    
}

.icon {
    padding-bottom: 1rem;
}

.text {
    width: 47%;
    text-align: justify;
    margin-left: 2rem;
    font-size: 18px;
}

.image {
    width: 35%;
  
}

.head {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.circle {
    padding-top: 0.3rem;
    padding-right: 0.4rem;
    padding-left: 0.5rem;
}

